<div class="page-header">
  <div class="row">
    <div class="span12">
    <h1><%= @user.name %>'s Profile <small>Checkout my coding skills</small></h1>
  	<p><%= @user.bio%></p>
  </div>
  <div class="span2">
    <img src="<%= @user.avatar_url%>">
  </div>
</div>
<div class="row">
  <div class="span10">
    <div id="container"
      class="pie-chart highcharts-container"
      data-pie-chart-data='<%= @lang_stats %>'
      data-series-name="Language Share"
      style=""></div>
  </div>
  <div class="span4">
    <a href="mailto:<%= @user.email %>" class="btn success hireme">
      Hire Me!
    </a>
  </div>
</div>