<div class="page-header">
  <div class="row">
    <div class="span10">
    <h1><%= @user.display_name %> <small>Checkout my coding skills</small></h1>
    <% if @user.bio %>
  	  <p><%= @user.bio%></p>
    <% end %>
    </div>
    <div class="span4" style="text-align: right;">
      <img width="96px" src="<%= @user.avatar_url%>">
    </div>
  </div>
</div>
<div class="row">
  <div class="span10">
    <div id="container"
      class="pie-chart highcharts-container"
      data-pie-chart-data='<%= @lang_stats %>'
      data-series-name="Language Share"
      style=""></div>
  </div>
  <div class="span4">
    <% if @user.email %>
      <%= @user.email %><br>
    <% end %>
		<% if @user.location %>
      <%= @user.location %><br>
    <% end %>

		<%= @user.public_repos %> public repos<br>
		<%= @user.public_gists %> public gists<br>

		<a href="https://github.com/<%= @user.login %>"> My github profile</a><br>

    <% if @user.email && @user.hireable %>
      <a href="mailto:<%= @user.email %>" class="btn success hireme">
        Hire Me!
      </a>
    <% end %>
  </div>
</div>